
<body>
    
    <div class="contain">
      <%- include ("./nav4") %>
    </div>
    <div class="contain mb-2">
        <div class="navbar mt-4 navbar-dark bg-light justify-content-center border border-success" id="textarea">

            <h4 class="card-title font-weight-bold ">
                <h2 class="text-success ">View all Allouncements</h2>
            </h4>
        </div>
    </div>

    <div class="container mt-4">
        <%- include ("./messages") %>
        <div class="row">

            <div class="col-md-12 ">
                <% for(var i = (users.length-1); i>= 0 ; i--) { %>
                <ul class="comment__box">
                    <li class="comment">
                        <div class="card border-light mb-3 shadow rounded">
                            <div class="card-body">
                                <p class="  text-uppercase text-success "><span class="text-primary "></span>Hostal : <%= users[i].hostal %></p>
                                <p class="  text-uppercase text-dark font-weight-bold "><span class="text-primary "></span><%= users[i].announce %></p>
                               
                                <div class="row">
                                    <div class="col">
                                        <img src="./../assets/clock.png" alt="clock">
                                        <small> <%=moment(users[i].createdAt).format( 'ddd, Do MMMM YYYY')%></small>
                                    </div>

                                  </a>
                                    
                                  
                                    <small class=" text-uppercase text-primary mb-1 font-weight-bold"><span class="text-primary "></span>- <%= users[i].name %> [ <%= users[i].post%> ]</small>
                                  <a href="/delete_announce_<%= users[i]._id %>" onclick="return confirm('Are you confirm want to delete');"  class="btn  border-shadow delete">
                                        <span class="text-gradient"><i class="fas fa-trash "
                                                style="color:red"></i></span>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </li>

                </ul>
                <% } %>

            </div>
        </div>
    </div>
    
</body>

